* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
}
p {
    font-size: 32px;
}

h1{
    border: 2px dashed red;
    width: 50%;
     padding: 0.5rem;
     font-size: 3rem;
}
header {
    width: 50%;
}

main {
    width: 50vw;
    background-color: skyblue;
    font-size: 2rem; 
}