/* Typography is the way that text is arranged and presented. */

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

/* input, button  {
    font: inherit;
} */

p {
    /* text-decoration: underline;
    text-transform: uppercase;
    text-align: justify; */
    /* text-indent: 2em;
    letter-spacing: 1em; */
    line-height: 1.5;
    /* word-spacing: .1em; */
    /* font-weight: bolder; */
    /* font-style: oblique; */
}